<% include ../partials/header %>
<div id="border-top"></div>
<div id="border-right"></div>
<div id="border-btm"></div>
<div id="border-left"></div>
<div class="form-wrap-main">
		
	<div class="form-wrap">

		<h1 class="left-title">Add New Comment to <%= park.name %></h1>
		<form class="form" action="/parks/<%= park._id %>/comments" method="POST">
			<input class="form-control" type="text" name="comment[text]" placeholder="text">
			<button class="btn-form">Submit</button>
		</form>
		<a href="/parks/<%= park._id %>">Go Back</a>
	</div>		
</div>
<% include ../partials/footer %>