<% include ./partials/header %>
<div id="border-top"></div>
<div id="border-right"></div>
<div id="border-btm"></div>
<div id="border-left"></div>
<div class="form-wrap-main">
    <div class="form-wrap">
        <h1 class="left-title">Login</h1>
        <form class="form" action="/login" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button class="btn-form">Login</button>               
            <a href="/parks">Go Back</a>
        </form>
    </div>    
</div>
<% include ./partials/footer %>